<div class="container">
    <div class="row">
        <div class="card col-md-3">
            <img src="https://m.media-amazon.com/images/I/51jnAebPo8L._SX679_.jpg" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">CCTV camera</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">CCTV (closed-circuit television) is a TV system in which signals are not publicly distributed but are monitored, primarily for surveillance and security purposes</p>
            <p><strong>Amount:</strong>Rs.500/-</p>
            <button class="btn btn-dark">Add to cart</button>
        </div>
    </div>
</div>