<div class="container">
    <div class="row">

        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}
                </h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Amount:</strong>{{item.price}}</p>
                <button (click)="likeProduct(item)" class="btn btm-light">
                    <i style="font-size: 30px;" class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <span class="badge bg-secondary">{{item.likes}}</span>
                </button>
                <button  (click)="dislikeProduct(item)" class="btn btm-light">
                    <i style="font-size: 30px;" class="fa fa-thumbs-down" aria-hidden="true"></i>
                    <span class="badge bg-secondary">{{item.dislikes}}</span>
                </button> 
                


                <button class="btn btn-dark" (click)="addToCart(item)">Add to cart</button>
            </div>
        </ng-container>
        
    </div>
</div>