/* Add this CSS to your about.component.css file or style section */

/* Section Page Head */
.about-head {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.about-head h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.about-head p {
  font-size: 1.2em;
}
/* Add this CSS to your about.component.css file or style section */

/* Section About Us */
.section-m {
  display: flex;
  flex-direction: column; /* Stack items vertically on smaller screens */
  align-items: center;
  padding: 50px 0;
}

.section-m img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px; /* Add some spacing between image and text */
}

.section-m div {
  max-width: 1500px;
  text-align: center; /* Center text on all screens */
}

/* Media Query for Screens Larger than 767px */
@media (min-width: 768px) {
  .section-m {
    flex-direction: row; /* Display items side by side on larger screens */
    justify-content: space-around;
  }

  .section-m div {
    margin-left: 20px;
    text-align: left; /* Align text to the left on larger screens */
  }
}
footer {
    background-color: #f8f9fa;
    color: #495057;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-body {
    color: #007bff;
}

@media (max-width: 767px) {
    footer {
        position: static;
    }
}